@use "../../variables" as *;

.segment-form-modal {
  display: flex;
  flex-direction: column;
  gap: $space-3;
  padding: $space-4;
  border-radius: $radius-md;
  border: 1px solid $line;
  max-height: 300px;
  max-width: 300px;
  background: $surface;
  
  &__divider{
    display: flex;
    align-items: center;
    margin: $space-2 0;
    gap: $space-2;
  }

  &__btns {
    display: flex;
    justify-content: space-around;
    gap: $space-2;
  }
}
