@use "../../variables" as *;

.camera-preview {
  flex-shrink: 0;
  aspect-ratio: 16 / 9;
  background: hsl(220, 15%, 10%);
  border-radius: $radius;
  margin-bottom: $space-3;
}

.camera-card {
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  background: $surface;
  border-radius: $radius;
  padding: $space-3 $space-4;
  overflow: hidden;
  gap: $space-2;

  &__body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: $space-3;
    gap: $space-2;

    &-name {
      font-size: $text-body;
      color: $text-sub;
    }
  }

  &__footer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: $space-2;
  }
}
